/.github/bin/
/.vscode/
/.github/temp/
build/
/.github/android/.gradle/
/.github/android/.idea/
/.github/android/app/src/main/assets/domain.js
/.github/android/app/src/main/assets/index.html
/.github/android/app/src/main/java/
*.generated.*
*.gen.*
