*.gen.*
*.generated.*
/.github/android/.gradle/
/.github/android/.idea/
/.github/android/app/build/
/.github/android/app/src/main/assets/domain.js
/.github/android/app/src/main/assets/index.html
/.github/android/app/src/main/assets/shared/
/.github/android/app/src/main/assets/web/
/.github/android/app/src/main/java/
/.github/android/app/src/test
/.github/bin/
/.github/Makefile
/.github/temp/
/.vscode/
